.performance {
  background-color: rgb(12, 169, 28, 6%);
  padding-top: 70px;
  margin-bottom: 100px;
}

.performance__list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
  justify-content: space-between;
  margin-bottom: 70px;
}

.performance__item {
  max-width: 350px;
  background-color: #fff;
  text-align: center;
  padding: 30px;
  box-sizing: border-box;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.performance__about {
  background-color: #0CA91C;
  justify-content: space-between;
}

.performance__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
}
.performance__about-text {
  color: #fff;
  font-weight: 600;
  font-size: 30px;
  line-height: 25px;
}

.performance__about-link {
  font-family: Lato;
  border: 1px solid #fff;
  border-radius: 6px;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  padding: 20px 70px;
  display: flex;
  position: relative;
  transition: width 0.3s ease;
}

.performance__about-link::before {
  border-radius: 5px;
  content: "";
  width: 100%;
  height: 0;
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  transition: height 0.3s ease;
  color: #0CA91C

}

.performance__about-link span {
  position: relative;
  z-index: 4;
}

.performance__about-link:hover {
  color: #0CA91C;
}

.performance__about-link:hover::before {
  height: 100%;
  color: #0CA91C
}

@media only screen and (max-width: 1080px) {

  .performance__item {
    max-width: 32%;
  }
}

@media only screen and (max-width: 880px) {

  .performance__about-text {
    font-size: 25px;
    line-height: 25px;
  }

  .performance__about-link {
    font-size: 15px;
    line-height: 18px;
    padding: 15px 60px;
  }

}

@media only screen and (max-width: 850px) {
  .performance__item {
    padding-top: 10px;
    padding-bottom: 0;
  }

  .performance__item:first-child {
    margin-right: 20px;
  }

  .performance__list {
    flex-wrap: wrap;
    justify-content: center;
  }

  .performance__item {
    margin-bottom: 20px;
    min-width: 40%;
  }
}

@media only screen and (max-width: 760px) {
  


  .performance__container {
    flex-direction: column;
  }
}

@media only screen and (max-width: 570px) {

  .performance__item:first-child {

    margin-right: 0;
  }
  .performance__item {
    max-width: 60%;
  }
}

@media only screen and (max-width: 500px) {

  .performance__item {
    max-width: 80%;
  }
}

@media only screen and (max-width: 450px) {

  .performance__about-text {
    font-size: 23px;
    text-align: center;
  }
  .performance__about-link {
    text-align: center;
  }
}