.insurance__wrapper {
  background-image: url("../../../images/insurance-form.png");
  background-repeat: no-repeat;
  max-width: 960px;
  background-size: cover;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: -50px;
  border-radius: 8px;
}

.insurance__form {
  background-color: rgb(12, 169, 28, 0.8);
  padding-top: 20px;
  padding-bottom: 50px;
  padding-left: 10%;
  padding-right: 10%;
  border-radius: 8px;
}

.insurance__form-header {
  color: #fff;
  font-family: Mulish;
  font-weight: 800;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
}

.insurance__form-list {
  display: flex;
  flex-wrap: wrap;
  min-height: 100px;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.insurance__form-input {
  background-color: none;
  border: none;
  padding: 10px;
  background-color: transparent;
  border-bottom: 1px solid #fff;
  width: 300px;
  margin-bottom: 20px;
}

.insurance__btn {
  border: none;
  outline: none;
  background-color: #fff;
  border-radius: 50px;
  padding: 10px 30px;
  margin-right: auto;
  margin-left: auto;
  font-weight: bold;
  display: block;
  margin-top: 30px;
  color: rgb(12, 169, 28);
}

.insurance__about {
  background-color: rgb(12, 169, 28, 6%);
  padding-top: 120px;
  padding-bottom: 50px;
}

.insurance__about_wrapper {
  width: 500px;

}

