.insurance__wrapper {
  background-image: url("../../../images/insurance-form.png");
  background-repeat: no-repeat;
  max-width: 960px;
  background-size: cover;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: -50px;
  border-radius: 8px;
}

.insurance__form {
  background-color: rgb(12, 169, 28, 0.8);
  padding-top: 20px;
  padding-bottom: 50px;
  padding-left: 10%;
  padding-right: 10%;
  border-radius: 8px;
}

.insurance__form-header {
  color: #fff;
  font-family: Mulish;
  font-weight: 800;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
}

.insurance__form-list {
  display: flex;
  flex-wrap: wrap;
  min-height: 100px;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.insurance__form-input {
  background-color: none;
  border: none;
  padding: 10px;
  background-color: transparent;
  border-bottom: 1px solid #fff;
  width: 300px;
  margin-bottom: 20px;
}

.insurance__btn {
  border: none;
  outline: none;
  background-color: #fff;
  border-radius: 50px;
  padding: 10px 30px;
  margin-right: auto;
  margin-left: auto;
  font-weight: bold;
  display: block;
  margin-top: 30px;
  color: rgb(12, 169, 28);
}

.insurance__about {
  background-color: rgb(12, 169, 28, 6%);
  padding-top: 120px;
  padding-bottom: 50px;
}

.insurance__about_wrapper {
  max-width: 500px;
  margin-right: 60px;
}

.insurance__about-container {
  display: flex;
  justify-content: space-between;
}

.insurance__about-list {
  margin: 0;
  left: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.insurance__about-item {
  display: flex;
  flex-direction: column;
  width: 150px;
  text-align: center;
  color:rgb(12, 169, 28);
  font-weight: bold;
}

.contact__container {
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 40px;
}

.contact__left-wrapper {
  max-width: 40%;
  margin-right: 60px;
}

.contact__heading {
  font-family: Mulish;
  font-weight: 800;
  font-size: 36px;
  line-height: 45px;
}

.contact__text {
  font-family: Lato;
  font-size: 14px;
  line-height: 140%;
  text-align: justify;
  color: rgba(0, 0, 0, 0.7);
}

.contact__username {
  display: flex;
  justify-content: space-between;
}

.contact__input {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid rgba(0, 0, 0, 0.7);
  padding: 15px;
  border-radius: 50px;
  outline: none;
  box-sizing: border-box;

}

.username {
  margin-right: 20px;
}

.username:last-child {
  margin-right: 0;
}

.contact__select {
  box-sizing: border-box;
  min-width: 100%;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.7);
  padding: 15px;
  border-radius: 50px;
  outline: none;
}

.contact__button {
  border: none;
}

