body {
  padding: 0;
  margin: 0;
  font-family: "Arial", sans-serif;
}

.green-link {
  position: relative;

  text-decoration: none;
  color: #fff;
  background-color: #0CA91C;
  padding: 10px;
  border-radius: 100px;
  font-weight: bold;
}

.green-link::before{
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  z-index: -1;
  box-shadow: 0 0 0 2px #0DB51E;
  background-color: #fff;
  color: #0DB51E;
  top: 0;
  left: 0;
  border-radius: 100px;
  transition: all ease 0.37s;
  opacity: 0;
}

.green-link:hover::before {
  width: 100%;
  height: 100%;
  border-top-right-radius: 100px;
  z-index: 1;
  content: "";
  opacity: 1;
  display: block;
}

.green-link:hover {
  color: #0DB51E;
}

.green__btn-text {
  position: relative;
  z-index: 4;
}

