.container {
  max-width: 1075px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 10px;
  padding-left: 10px;
}

.intro__right {
  padding-top: 150px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.intro__circle{
  content: ""; 
  width: 166px;
  height: 166px;
  border-radius: 50%;
  position: absolute;
  left: -25px;
  top: 15%;
  display: flex;
  z-index: 0;
  background-color: rgba(13, 181, 30, 0.13);
}

.intro__span {
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  color: #0DB51E;
  display: flex;
  align-items: center;
  z-index: 1;
}

.intro__span::before {
  content: "";
  display: inline-block;
  width: 55px;
  height: 3px;
  background-color: #0DB51E;
  margin-right: 20px;
}

.intro__heading {
  font-weight: 900;
  font-size: 80px;
  line-height: 100px;
  margin: 0;
  margin-top: 16px;
  color: #0DB51E;
  z-index: 1;
}


.intro__heading span {
  color: #111;
}

.intro__heading p {
  display: inline-block;
  margin: 0;
  padding: 0;
  background-color: #fff;
  background-color: rgb(211, 204, 204);
}

.inpto__text {
  margin-top: 30px;
  margin-bottom: 50px;
  font-size: 18px;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.6);
}

.intro__bottom-heading {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  text-transform: uppercase;
  color: #10375C;
  margin-top: 0;
  margin-bottom: 10px;
}

.intro__select {
  border: none;
  background: none;
  font-size: 15px;
  line-height: 28px;
  color: #404040;
  display: block;
  padding: 20px 25px;
  width: 100%;
  box-shadow: 0px 22px 147px rgba(0, 0, 0, 0.1), 0px 9.19107px 61.4131px rgba(0, 0, 0, 0.0215656), 0px 4.91399px 32.8344px rgba(0, 0, 0, 0.0178832), 0px 2.75474px 18.4067px rgba(0, 0, 0, 0.015), 0px 1.46302px 9.77565px rgba(0, 0, 0, 0.0121168), 0px 0.608796px 4.06787px rgba(0, 0, 0, 0.00843437);
  border-radius: 100px;
  outline: none;
}

.intro__link {
  display: inline-block;
  margin-top: 35px;
  width: 210px;
  text-align: center;
  line-height: 28px;
}

@media only screen and (max-width: 1000px) {
  .intro__heading {
    font-size: 70px;
    line-height: 90px
  } 
}

@media only screen and (max-width: 840px) {
  .intro__heading {
    font-size: 60px;
  }
}

@media only screen and (max-width: 760px) {
  .intro__heading {
    font-size: 50px;
    line-height: 60px;
  }
}


@media only screen and (max-width: 630px) {

  .intro__right {
    max-width: 100%;
  }

  .intro__heading {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-size: 70px;
    line-height: 75px;
  }

  .intro__bottom-heading {
    text-align: center;
  }

  .intro__link {
    margin-right: auto;
    margin-left: auto;
  }
}

@media only screen and (max-width: 440px) {
  .intro__heading{
    font-size: 60px;
    line-height: 70px;
  }

  /* .site-header__conatiner {
    padding: 0 30px;
  } */
}

@media only screen and (max-width: 360px) {
  .intro__heading{
    font-size: 50px;
    line-height: 60px;
  }

  .inpto__text {
    font-size: 17px;
    text-align: center;
  }
}